[submodule "zenner-client"]
	path = zenner-client
	url = https://github.com/gomonkey/zenner-client
[submodule "zenner-core"]
	path = zenner-core
	url = https://github.com/gomonkey/zenner-core
[submodule "zenner-auth"]
	path = zenner-auth
	url = https://github.com/gomonkey/zenner-auth
